@{
    ViewData["Title"] = "Главная";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="text-center">
    <h1 class="display-4">Система лояльности клиентов</h1>
    <p>Салон Айза</p>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="list-group-horizontal">
            @Html.ActionLink("Создать сеанс", "Create", "Sessions", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Список клиентов", "Index", "Clients", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Список Сеансов", "Index", "Sessions", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Список услуг", "Index", "Services", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
